@charset "UTF-8";

div img.espaco {
    width: 100%;
    height: 100%;
    z-index: 0;
    position:absolute;
    margin: -10px -9px;
}

div img.astro { 
    z-index: 1;
    position:relative;
    margin-left: 30%;
}